body {
    background-color: #fb6964;
}

.block {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 458px;
    height: 305px;
    background-color: white;
    color: #fb6964;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.block__quote {
    position: relative;
    bottom: 65px;
    left: 10px;
    align-self: center;
    width: 458px;
}

.block__author {
    position: absolute;
    bottom: 75px;
    width: 146px;
    align-self: flex-end;
    margin-right: 35px;
}

.block__btn {
    position: absolute;
    bottom: 46px;
    left: 317px;
    width: 150px;
    align-self: flex-end;
}

.block__source {
    margin-top: 32px;
    width: 458px;
    align-self: flex-start;
}

.quote {
    font-size: 1.6rem;
    color: #fb6964;
}

.author {
    color: #fb6964;
    padding: 15px;
    font-size: 0.9rem;
}

.newQuote {
    border-radius: 2px;
    border: 1px solid #fb6964;
    background-color: #fb6964;
    color:#fff;
    padding: 5px 10px;
    font-size: 0.78rem;
}

.fa {
    margin-right: 10px;
}

.source {
    font-size: 0.75rem;
    color: black;
    padding:25px;
    background-color: white;
}